[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GoLand Light Edit
GenericName=GoLand Light Edit
Comment=GoLand Integrated Development Environment - Light Mode
Icon=${TRUEPREFIX}/goland/bin/goland.png
Exec=${TRUEPREFIX}/bin/goland-lightedit
Terminal=false
StartupNotify=true
Categories=Application;Development;
